body{
    background-color: #bdb192
}
 
h1{
     font-size: medium;
    color: blue;
}

p{
    font-size: 18px;
}

/* ERRORES ENCONTRADOS (CSS):
- El color de fondo no es #f0f0f0.
- El color del <h1> no es navy.
- El tamaño de fuente del <h1> es incorrecto.*/